<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">

  <!--    Шапка сайта-->
  <div class="row bg-dark" style="height: 10%">
    <div class="col text-white">
      <h2>
        <div class="p-3">
          <b>Здесь</b> логин и права
        </div>
      </h2>
    </div>
    <div class="col text-white-50">
      <div class="p-3">
        <h4 class="text-right">
          <span class="align-middle">Logout</span>
        </h4>
      </div>
    </div>
  </div>

  <div class="row"><br></div>

  <div class="row">

    <!--    Панель с правами-->
    <div class="col-2">
      <div class="container">
        <ul class="nav nav-pills flex-column">
          <li><a class="nav-link" href="#adminPanel" data-toggle="pill">Admin</a></li>
          <li><a class="nav-link" href="#userPanel" data-toggle="pill">User</a></li>
        </ul>
      </div>
    </div>

    <!--                Основная панель-->
    <div class="col-10 bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="tab-content">

            <!--                            Admin Panel-->
            <div role="tabpanel" class="tab-pane" id="adminPanel">
              <h1>Admin Panel</h1>

              <ul class="nav nav-tabs">
                <!-- User Table Первая вкладка (активная) -->
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#userTable">User Table</a>
                </li>
                <!-- Вторая вкладка -->
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                </li>
              </ul>

              <!--                                User Table-->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="userTable">
                  <div class="card card-default">
                    <div class="card-header">All users</div>
                  </div>
                  <div class="container-fluid">
                    здесь таблица
                  </div>
                </div>

                <!--                                    New User-->
                <div role="tabpanel" class="tab-pane" id="newUser">
                  New User
                </div>
              </div>

            </div>


            <div role="tabpanel" class="tab-pane" id="userPanel">
              <h1>User Information Page</h1>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</body>
</html>