<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PP_3.1.5</title>
</head>
<body>

<!--Main container-->
<div class="container-fluid" style="height: 100vh">

    <!--    Row with header - Role and Logout-->
    <div class="row bg-dark">
        <div class="col text-white">
            <h2>
                <div class="p-3">
                    <h3 id="login-roles"></h3>
                </div>
            </h2>
        </div>
        <div class="col text-white-50">
            <div class="p-3">
                <h4 class="text-right">
                    <a href="/logout"><span class="align-middle">Logout</span></a>
                </h4>
            </div>
        </div>
    </div>
    <!--Space row-->
    <div class="row"><br></div>

    <!--    Row with left tabs and main content-->
    <div class="row h-100">
        <!--    Left panel with tabs for roles-->
        <div class="col-2 bg-white">
            <div class="container">
                <ul class="nav nav-pills flex-column">
                    <li id="admin-panel-left-tab"><a class="nav-link btn-lg" href="#adminPanel" data-toggle="pill">Admin</a></li>
                    <li><a class="nav-link btn-lg" href="#userPanel" data-toggle="pill">User</a></li>
                </ul>
            </div>
        </div>

        <!--        Column with main content-->
        <div class="col-10 bg-light">
            <!--    Container with main content-->
            <!--    Row with Name Panel-->
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="tab-content">

                                <!--                        Admin panel-->
                                <div role="tabpanel" class="tab-pane" id="adminPanel">
                                    <h1>Admin Panel</h1>
                                    <br>
                                    <!--Mapping UserTable/UserNew-->
                                    <ul class="nav nav-tabs">
                                        <!--User Table Первая вкладка () -->
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#userTable">User
                                                Table</a>
                                        </li>
                                        <!-- Вторая вкладка -->
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="main-table">

                                        <!--Tab "All users"-->
                                        <div role="tabpanel" class="tab-pane active" id="userTable">
                                            <div class="card">
                                                <div class="card-header">All users</div>
                                            </div>
                                            <div class="container-fluid bg-white">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Age</th>
                                                        <th>Email</th>
                                                        <th>Roles</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="table-users">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Tab "New user"-->
                                        <div role="tabpanel" class="tab-pane" id="newUser">
                                            <div class="card">
                                                <div class="card-header">New User</div>
                                            </div>
                                            <!--Form new user-->
                                            <div class="container-fluid bg-white">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="col-5">
                                                        <br>
                                                        <form id="new-user-form">

                                                            <div class="form-group">
                                                                <label for="firstname" class="row font-weight-bold justify-content-center">First Name</label>
                                                                <input type="text" class="form-control" id="firstname" name="firstname">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="lastname" class="row font-weight-bold justify-content-center">Last Name</label>
                                                                <input type="text" class="form-control" id="lastname" name="lastname">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="age" class="row font-weight-bold justify-content-center">Age</label>
                                                                <input type="number" class="form-control" id="age" name="age">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="email" class="row font-weight-bold justify-content-center">Email</label>
                                                                <input type="email" class="form-control" id="email" name="email">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="password" class="row font-weight-bold justify-content-center">Password</label>
                                                                <input type="password" class="form-control" id="password" name="password">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="select-for-roles" class="row font-weight-bold justify-content-center">Role</label>
                                                                <select multiple class="form-control" id="select-for-roles" name="roles"></select>
                                                            </div>

                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <button type="submit" class="btn btn-success" value="Add new user">Add new user</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                        User Information Panel-->
                                <div role="tabpanel" id="userPanel" class="tab-pane">
                                    <h1>User Information Page</h1>
                                    <br>
                                    <div class="container-fluid">
                                        <div class="card">
                                            <div class="card-header">About user</div>
                                        </div>
                                        <div class="container-fluid bg-white">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Age</th>
                                                    <th>Email</th>
                                                    <th>Roles</th>
                                                </tr>
                                                </thead>
                                                <tbody id="table-about-user">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="module" src="http://localhost:8081/new-user.js"></script>
<script type="module" src="http://localhost:8081/main.js"></script>

</body>
</html>

