<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap</title>
</head>
<body>


<!--Main container-->
<div class="container-fluid" style="height: 100vh">

    <!--    Row with header - Role and Logout-->
    <div class="row bg-dark">
        <div class="col text-white">
            <h2>
                <div class="p-3">
                    <b th:text="${userAuth.getEmail()}" ></b>
                    <th:block th:text="'with roles: ' + ${userAuth.getRolesToString()}"></th:block>
                </div>
            </h2>
        </div>
        <div class="col text-white-50">
            <div class="p-3">
                <h4 class="text-right">
                    <a th:href="@{/logout}">
                    <span class="align-middle" th:text="Logout"></span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div class="row"><br></div> <!--Space row-->

    <!--    Row with left tabs and main content-->
    <div class="row h-100">
        <!--    Left panel with tabs for roles-->
        <div class="col-2 bg-white">
            <div class="container">
                <ul class="nav nav-pills flex-column">

                    <li th:if="${userAuth.isAdmin()}"><a class="nav-link btn-lg active" href="#adminPanel" data-toggle="pill">Admin</a></li>
                    <li><a th:class="${userAuth.isAdmin()} ? 'nav-link btn-lg' : 'nav-link btn-lg active'"  href="#userPanel" data-toggle="pill">User</a></li>

                </ul>
            </div>
        </div>

        <!--        Column with main content-->
        <div class="col-10 bg-light">
            <!--    Container with main content-->
            <!--    Row with Name Panel-->
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="tab-content">
                           
                                <!--                        Admin panel-->
                                <div th:if="${userAuth.isAdmin()}" role="tabpanel" class="tab-pane active" id="adminPanel">
                                    <h1>Admin Panel</h1>
                                    <br>
                                    <!--Mapping UserTable/UserNew-->
                                    <ul class="nav nav-tabs">
                                        <!--User Table Первая вкладка () -->
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#userTable">User
                                                Table</a>
                                        </li>
                                        <!-- Вторая вкладка -->
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">

                                        <!--Tab "All users"-->
                                        <div role="tabpanel" class="tab-pane active" id="userTable">
                                            <div class="card">
                                                <div class="card-header">All users</div>
                                            </div>
                                            <!--Table all users-->
                                            <div class="container-fluid bg-white">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Age</th>
                                                        <th>Email</th>
                                                        <th>Roles</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <div th:each="user : ${users}">
                                                        <tr>
                                                            <td th:text="${user.id}"></td>
                                                            <td th:text="${user.firstname}"></td>
                                                            <td th:text="${user.lastname}"></td>
                                                            <td th:text="${user.age}"></td>
                                                            <td th:text="${user.email}"></td>
                                                            <td th:text="${user.getRolesToString()}"></td>
                                                            <td>
                                                                <input type="submit" class="btn btn-success"
                                                                       data-toggle="modal"
                                                                       th:data-target="${'#editModal'} + ${user.id}"
                                                                       value="Edit"/>
<!-- Modal for Edit-->
<div class="modal fade" th:id="${'editModal'} + ${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                    <form th:action="@{updateUser(user=${user})}" th:object="${user}" method="post">

                        <div class="form-group">
                            <label for="idEditWin" class="row font-weight-bold justify-content-center">ID</label>
                            <input type="number" class="form-control" th:name="id" id="idEditWin" th:value="*{id}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="firstnameEditWin" class="row font-weight-bold justify-content-center">First Name</label>
                            <input type="text" class="form-control" th:name="firstname" id="firstnameEditWin" th:value="*{firstname}">
                        </div>

                        <div class="form-group">
                            <label for="lastnameEditWin" class="row font-weight-bold justify-content-center">Last Name</label>
                            <input type="text" class="form-control" th:name="lastname" id="lastnameEditWin" th:value="*{lastname}">
                        </div>

                        <div class="form-group">
                            <label for="ageEditWin" class="row font-weight-bold justify-content-center">Age</label>
                            <input type="number" class="form-control" th:name="age" id="ageEditWin" th:value="*{age}">
                        </div>

                        <div class="form-group">
                            <label for="emailEditWin" class="row font-weight-bold justify-content-center">E-mail</label>
                            <input type="email" class="form-control" th:name="email" id="emailEditWin" th:value="*{email}">
                        </div>

                        <div class="form-group">
                            <label for="passwordEditWin" class="row font-weight-bold justify-content-center">Password</label>
                            <input type="password" class="form-control" th:name="password" id="passwordEditWin">
                        </div>

                        <div class="form-group">
                            <label for="rolesEditWin" class="row font-weight-bold justify-content-center">Role</label>
                            <select class="form-control" multiple name="roles" id="rolesEditWin">
                                <option th:each="role : ${roles}"
                                        th:value="${role.id}"
                                        th:text="${role.getNameNotPrefix()}">
                                </option>
                            </select>
                        </div>

<!--                                                                <div class="form-group">-->
<!--                                                                    <label for="role">Role</label>-->
<!--                                                                    <select multiple id="role" class="form-control">-->
<!--                                                                        <option>Admin</option>-->
<!--                                                                        <option>User</option>-->
<!--                                                                    </select>-->
<!--                                                                </div>-->

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Edit">
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!--End Modal for Edit-->
                                                            </td>
                                                            <td>
                                                                <input type="submit" class="btn btn-danger"
                                                                       data-toggle="modal"
                                                                       th:data-target="${'#deleteModal'} + ${user.id}"
                                                                       value="Delete"/>
<!-- Modal for Delete-->
<div class="modal fade" th:id="${'deleteModal'} + ${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{deleteUser(user=${user})}" th:object="${user}" method="post">

                    <div class="form-group">
                        <label for="idDeleteWin" class="row font-weight-bold justify-content-center">ID</label>
                        <input type="number" class="form-control" th:name="id" id="idDeleteWin" th:value="*{id}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="firstnameDeleteWin" class="row font-weight-bold justify-content-center">First Name</label>
                        <input type="text" class="form-control" th:name="firstname" id="firstnameDeleteWin" th:value="*{firstname}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="lastnameDeleteWin" class="row font-weight-bold justify-content-center">Last Name</label>
                        <input type="text" class="form-control" th:name="lastname" id="lastnameDeleteWin" th:value="*{lastname}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="ageDeleteWin" class="row font-weight-bold justify-content-center">Age</label>
                        <input type="number" class="form-control" th:name="age" id="ageDeleteWin" th:value="*{age}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="emailDeleteWin" class="row font-weight-bold justify-content-center">E-mail</label>
                        <input type="email" class="form-control" th:name="email" id="emailDeleteWin" th:value="*{email}" readonly>
                    </div>

                    <div class="form-group">
                        <label for="rolesDeleteWin" class="row font-weight-bold justify-content-center">Role</label>
                        <select class="form-control" multiple name="roles" id="rolesDeleteWin" readonly>
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.getNameNotPrefix()}" >
                            </option>
                        </select>
                    </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-danger" value="Delete">
            </div>
            </form>
            </div>
        </div>
    </div>
</div>
<!--End Modal for Delete-->
                                                            </td>
                                                        </tr>
                                                    </div>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <!--Tab "New user"-->
                                        <div role="tabpanel" class="tab-pane" id="newUser">
                                            <div class="card">
                                                <div class="card-header">New User</div>
                                            </div>
                                            <!--Form new user-->
                                            <div class="container-fluid bg-white">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="col-5">
                                                        <br>
                                                            <form th:action="@{addUser(newUser=${newUser})}"
                                                                  th:object="${newUser}" method="post">

                                                                <div class="form-group">
                                                                    <label for="firstname" class="row font-weight-bold justify-content-center" >First Name</label>
                                                                    <input type="text" class="form-control" id="firstname" th:field="*{firstname}">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="lastname" class="row font-weight-bold justify-content-center">Last Name</label>
                                                                    <input type="text" class="form-control" id="lastname" th:field="*{lastname}">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="age" class="row font-weight-bold justify-content-center">Age</label>
                                                                    <input type="number" class="form-control" id="age" th:field="*{age}">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="email" class="row font-weight-bold justify-content-center">Email</label>
                                                                    <input type="email" class="form-control" id="email" th:field="*{email}">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="password" class="row font-weight-bold justify-content-center">Password</label>
                                                                    <input type="password" class="form-control" th:field="*{password}" id="password">
                                                                </div>

                                                                <div class="form-group">
                                                                <label for="roles" class="row font-weight-bold justify-content-center">Role</label>
                                                                <select class="form-control" multiple th:field="*{roles}" id="roles">
                                                                    <option th:each="role : ${roles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.getNameNotPrefix()}">
                                                                    </option>
                                                                </select>
                                                                </div>

                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <button type="submit" class="btn btn-success"
                                                                            value="Add new user">
                                                                        Add new user
                                                                    </button>
                                                                </div>

                                                            </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <!--                        User Information Panel-->
                                <div role="tabpanel" id="userPanel" th:class="${not userAuth.isAdmin()} ? 'tab-pane active' : 'tab-pane'">
                                    <h1>User Information Page</h1>
                                    <br>
                                    <div class="container-fluid">
                                    <div class="card">
                                        <div class="card-header">About user</div>
                                    </div>
                                    <div class="container-fluid bg-white">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Roles</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td th:text="${userAuth.id}"></td>
                                                    <td th:text="${userAuth.firstname}"></td>
                                                    <td th:text="${userAuth.lastname}"></td>
                                                    <td th:text="${userAuth.age}"></td>
                                                    <td th:text="${userAuth.email}"></td>
                                                    <td th:text="${userAuth.getRolesToString()}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>