<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User Panel</title>
</head>
<body>

<p>
    <a href="/logout">
        <input type="button" value="Logout">
    </a>
</p>

<p th:text="${user.email}"></p>

<br>
<p><b><font size="5">User Panel</font></b></p>
<br>
<div>
    <table width="200" border="1">
        <tbody>

        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>

        <th:block th:object="${user}">
            <tr>
                <td align="center" th:text="${user.id}"></td>
                <td align="center" th:text="${user.firstname}"></td>
                <td align="center" th:text="${user.lastname}"></td>
                <td align="center" th:text="${user.age}"></td>
                <td align="center" th:text="${user.email}"></td>
                <td align="center">
                    <div th:each="roles : ${user.getRoles()}"
                         th:text="${roles.getNameNotPrefix()}">
                    </div>
                </td>
            </tr>
        </th:block>

        </tbody>
    </table>
</div>
</body>
</html>