<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User create form</title>
</head>
<body>

<p>
    <a href="/logout">
        <input type="button" value="Logout">
    </a>
</p>

<p></p>

<form  th:action="@{/addUser(user=${user})}"
        th:object="${user}" method="post">
    <table border="0" width="20%">
        <tr>
            <td></td>
            <td align="center">
                <p><b>User Create Form</b></p>
            </td>
        </tr>
        <tr>
            <td align="right">First Name</td>
            <td align="left">
                <input type="text" size="40" th:field="*{firstname}" id="name">
            </td>
        </tr>

        <tr>
            <td align="right">Last Name</td>
            <td align="left">
                <input type="text" size="40" th:field="*{lastname}" id="lastname"></td>
            </td>
        </tr>
        <tr>
            <td align="right">Age</td>
            <td align="left">
                <input type="number" size="40" th:field="*{age}" id="age"></td>
        </tr>
        <tr>
            <td align="right">Email</td>
            <td align="left">
                <input type="email" size="40" th:field="*{email}" id="email"></td>
        </tr>
        <tr>
            <td align="right">Password</td>
            <td align="left">
                <input type="password" size="40" th:field="*{password}" id="password"></td>
        </tr>

                <tr>
                    <td align="right">Role</td>
                    <td>
                        <select multiple th:field="*{rolesId}">
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                    </td>
                </tr>

        <tr>
            <td></td>
            <td align="center">
                <input type="submit" value="Add"><input type="reset" value="Reset" name="B2">
            </td>
        </tr>
    </table>
</form>
</body>
</html>